{% extends 'agenda/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="">
        {% block agenda_content %}
            <div class="container">
                <form method="post" action="">{% csrf_token %}
                    <fieldset>
                        <legend>Register</legend>
                        {% bootstrap_form form %}
                        <button class="btn btn-default btn-primary" type="submit">Register</button>
                    </fieldset>
                </form>
            </div>
        {% endblock %}
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    </div>
{% endblock %}
